﻿
@{
    ViewBag.Title = "Home Page";
}
@Html.Partial("/views/ModalsPartial/_ManageProductModal.cshtml")
@Html.Partial("/views/ModalsPartial/_StatisticsModal.cshtml")


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Products</div>
            <div class="panel-body">
                <table id="list2"></table>
                <div id="pager2"></div>
                <div class="product-tbl-action">
                    <div class="col-md-8">
                        <button class="btn btn-primary" id="EditProduct">Edit</button>
                        <button class="btn btn-primary" id="SaveProduct">Save</button>
                        <button class="btn btn-primary" id="CancelEditProduct">Cancel</button>
                        <button class="btn btn-danger" id="DeleteProduct">Delete</button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary" id="AddProductModal">Add</button>
                        <button class="btn btn-primary " id="ManageProduct">Manage</button>
                        <button class="btn btn-primary " id="StatsProduct">Statistics</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default ">
            <div class="panel-heading">Statistics</div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>Price</th>
                            <th>Total price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> <span id="statsName"></span> </td>
                            <td><span id="statsAmount"></span></td>
                            <td><span id="statsPrice"></span></td>
                            <td><span id="statsTotalPrice"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        @Html.Partial("/views/ModalsPartial/_AddProductModal.cshtml")
        @Html.Partial("/views/ModalsPartial/_DeleteProductConfirmationDialog.cshtml")
      
    </div>
</div>




<script>
  

</script>
