﻿<div id="dialogAddProduct" title="Add product">
            <div class="col-md-12">
                <form id="AddProductForm" role="form">
                    <fieldset>
                        <span id="AddProductSummaryErrors"></span>
                        <div class="form-group">
                            <input id="NewProductName" class="form-control" name="ProductName" type="text" placeholder="Product name" />
                            <input id="NewProductPrice" class="form-control" name="ProductPrice" type="text" placeholder="Product price" />
                        </div>
                        <button class="btn btn-primary" id="AddProduct">Add new product</button>
                    </fieldset>
                </form>
    </div>
</div>
