﻿<div id="dialogDelProduct" title="Are you sure?">
    <div class="col-md-12">
        <form id="DelProductForm" role="form">
            <h2>Delet product <span id="productToDelete"></span></h2>
        </form>
    </div>
</div>
