﻿<div id="dialogManageProduct" title="Manage product">
    <form id="ManageProductForm" role="form">
        <fieldset>
            <div class="form-group">
                <h2 id="ManageProductName"></h2>
                <span id="ManageProductSummaryErrors"></span>
                <input type="hidden" name="ProductId" class="form-control" id="ManageProductId">
                <div class="form-group">
                    <label class="control-label">Amount</label>
                    <input type="text" name="Amount" class="form-control" id="ManageAmount">
                </div>
                <div class="form-group">
                    <label class="control-label">Operation type</label>
                    <select class="form-control" id="type">
                        <option value="1">Income</option>
                        <option value="2">Outcome</option>
                    </select>
                </div>
            </div>
        </fieldset>
    </form>
</div>
