﻿<div id="dialogStatistics" title="Statistics">
    <form id="StatisticsForm" role="form">
        <fieldset>
            <div class="form-group">
                <h2 id="StatisticsProductName"></h2>
                <table id="StatList"></table>
                <div id="StatListPager"></div>
            </div>
        </fieldset>
    </form>
</div>
